@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

:root {
  --font-Nunito: 'Nunito', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --white: #fff;
  --black: #000;
  --red: rgb(245, 0, 24);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10rem;
  flex-wrap: wrap;
}

.card-box {
  width: 250px;
  height: auto;
  position: relative;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.3s ease-in;
}

.card-box > * {
  padding: 10px;
}

.card-box .card-image img {
  height: 200px;
  width: 200px;
  background-position: center center;
  background-size: cover;
}

.card-box .card-title {
  font-family: var(--font-Nunito);
  font-weight: 700;
  padding: 1.25rem .625rem;
  font-size: 1.5em;
  text-transform: capitalize;
  text-shadow: 0.0625rem 0rem 0.125rem rgba(0, 0, 0, 0.5);
}

/*Buscar un hover*/
.card-box:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  transform: translateY(-5px);
}

.card-box .card-text {
  font-family: var(--font-Nunito);
  font-weight: 400;
  font-size: 1rem;
  padding: 1.25rem .625rem;
}

/*smartphones mobiles (portrait)*/
@media (min-width: 20rem) and (max-width: 30rem) {
  .card-container {
    gap: 10px;
    margin-top: 1.5rem;
  }

  .card-box {
    width: 10.625rem;
    height: auto;
    background: var(--white);
    border-radius: 4px;
    padding: 0px;
    transition: all .5s ease-in;
  }

  .card-box > * {
    padding: 2px;
  }

  .card-box .card-image img {
    height: auto;
    width: 140px;
    background-position: center center;
    background-size: cover;
  }

  .card-box .card-title {
    padding: 5px 5px;
    font-size: 1.2em;
    text-transform: capitalize;
    text-shadow: 0.0625rem 0rem 0.125rem rgba(0, 0, 0, 0.5);
  }
  .card-box .card-text {
    font-size: 17.6px;
    padding: 0.625rem 0.3125rem;
  }
}
/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 30.0625rem) and (max-width: 47.9375rem) {
  .card-container {
    gap: 2.5rem;
    margin-top: 3rem;
  }

  .card-box {
    width: 13.75rem;
    height: auto;
    position: relative;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 0.625rem;
    transition: all .5s ease-in;
  }

  .card-box > * {
    padding: 1.1rem;
  }

  .card-box .card-image img {
    height: auto;
    width: 11.25rem;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in;
  }

  .card-box .card-title {
    padding: 0.625rem 0.3125rem;
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 0.0625rem 0rem 0.125rem rgba(0, 0, 0, 0.5);
  }
  .card-box .card-text {
    font-size: 1.2rem;
    padding: 1.25rem 0.625rem;
  }
}

/*tablets, ipads (portrait)*/
@media (min-width: 48rem) and (max-width: 64rem) {
  .card-container {
    gap: 0.5625rem;
    margin-top: 3rem;
  }

  .card-box {
    width: auto;
    height: auto;
    background: var(--white);
    border-radius: 0.25rem;
    padding: 0.625rem;
    transition: all 1s ease-in;
  }

  .card-box > * {
    padding: 0.9375rem;
  }

  .card-box .card-image img {
    height: auto;
    width: 15.625rem;
    background-position: center center;
    background-size: cover;
    transition: all .5s ease-in;
  }

  .card-box .card-title {
    padding: 0.9375rem 0.625rem;
    font-size: 1.8em;
    text-transform: capitalize;
  }
  .card-box .card-text {
    font-size: 16px;
    padding: 0.625rem 0.625rem;
  }
}

/*laptops, desktops*/
@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .card-container {
    gap: 0.625rem;
    margin-top: 3rem;
  }

  .card-box {
    width: 21.875rem;
    height: auto;
    position: relative;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 1.25rem;
    transition: all .5s ease-in;
  }

  .card-box > * {
    padding: 0.625rem;
  }

  .card-box .card-image img {
    height: auto;
    width: 14.375rem;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in;
  }

  .card-box .card-title {
    padding: 0.625rem 0.625rem;
    font-size: 1.8em;
    text-transform: capitalize;
    text-shadow: 0.0625rem 0rem 0.125rem rgba(0, 0, 0, 0.5);
  }
  .card-box .card-text {
    font-size: 24px;
    padding: 0.9375rem 0.3125rem;
  }
}

/*desktops - higher resolution*/
@media (min-width: 80.0625rem) {
  .card-container {
    gap: 0.9375rem;
    margin-top: 8rem;
  }

  .card-box {
    width: auto;
    height: auto;
    position: relative;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding: 1.5625rem;
    transition: all .5s ease-in;
  }

  .card-box > * {
    padding: 0.3125rem;
  }

  .card-box .card-image img {
    height: auto;
    width: 15.625rem;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in;
  }

  .card-box .card-title {
    padding: 0.9375rem 0.3125rem;
    font-size: 2em;
    text-transform: capitalize;
    text-shadow: 0.0625rem 0rem 0.125rem rgba(0, 0, 0, 0.5);
  }
  .card-box .card-text {
    font-size: 1.5rem;
    padding: 0.3125rem 0.3125rem;
  }
}
