@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
:root {
  --font-Nunito: 'Nunito', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --white: #fff;
  --black: #000;
  --red: #f50018;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--black);
  background-image: none;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-Nunito);
  font-size: 1.2em;
  font-weight: 800;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(var(--black), var(--white));
  padding: 0;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
  vertical-align: middle;
}
.btn [hidden] {
  display: none;
}
.btn {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0.8rem;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
}
.btn .new,
.btn .old span {
  font-weight: 800;
  transition: transform 0.9s;
}
.btn .new {
  display: block;
  transform: scale(0);
}
.btn:hover .new {
  transform: scale(1);
}
.btn .old,
.btn .old span {
  inset: 0;
  position: absolute;
}
.btn .old span {
  background: var(--white);
  color: var(--red);
  display: block;
  display: grid;
  place-items: center;
}
.btn .old span:first-child {
  -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
  clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
}
.btn .old span:nth-child(2) {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}
.btn:hover .old span:first-child {
  transform: translateX(-100%);
}
.btn:hover .old span:nth-child(2) {
  transform: translateX(100%);
}
.animated-box {
  background-color: var(--black);
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  margin: auto;
  border-radius: 8px;
  border: 3px solid var(--white);
  text-align: center;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 9px);
  }
  to {
    transform: translate(0, -0px);
  }
}
.animated-box2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 9rem;
  margin: auto;
  border-radius: 8px;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.Who {
  font-family: var(--font-Nunito);
  color: var(--white);
  font-size: 1.3em;
  font-weight: 800;
  margin: 3px;
  padding: 2px;
  text-align: center;
}
.dev {
  font-family: var(--font-Poppins);
  color: var(--white);
  font-weight: 700;
  font-size: 1em;
  margin: 2px;
  padding: 0;
  text-align: center;
}

@media (min-width: 20rem) and (max-width: 30rem) {
  .btn {
    position: absolute;
    top: 5rem;
    left: 100px;
    z-index: 1;
    padding: 1.1rem 2rem;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box {
    position: absolute;
    top: 29%;
    left: 10px;
    z-index: 1;
    font-size: 0.9em;
  }
  .animated-box2 {
    position: absolute;
    top: 41.4%;
    left: 10px;
    z-index: 1;
    font-size: 0.8em;
  }
}
@media (min-width: 30.0625rem) and (max-width: 47.9375rem) {
  .btn {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 1rem;
  }
  .animated-box {
    position: absolute;
    top: 25%;
    left: 10px;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box2 {
    position: absolute;
    top: 36%;
    left: 10px;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
@media (min-width: 48rem) and (max-width: 64rem) {
  .btn {
    position: absolute;
    top: 20%;
    left: 23%;
    z-index: 1;
    padding: 1.1rem 2rem;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box {
    position: absolute;
    top: 16%;
    left: 52%;
    z-index: 1;
    font-size: 1em;
    font-weight: 800;
    margin: 2px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box2 {
    position: absolute;
    top: 28%;
    left: 52%;
    z-index: 1;
    font-weight: 700;
    font-size: 1em;
    margin: 1.2px;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .btn {
    position: absolute;
    top: 20%;
    left: 23%;
    z-index: 1;
    padding: 1.1rem 2rem;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box {
    position: absolute;
    top: 16%;
    left: 52%;
    z-index: 1;
    font-size: 1em;
    font-weight: 800;
    margin: 2px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box2 {
    position: absolute;
    top: 28%;
    left: 52%;
    z-index: 1;
    font-weight: 700;
    font-size: 1em;
    margin: 1.2px;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
@media (min-width: 80.0625rem) {
  .btn {
    position: absolute;
    bottom: 5.5%;
    left: 35%;
    z-index: 1;
    padding: 0.8rem 0.8rem;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box {
    position: absolute;
    top: 24%;
    left: 55%;
    z-index: 1;
    font-size: 1.1em;
    font-weight: 800;
    margin: 2px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .animated-box2 {
    position: absolute;
    top: 34.5%;
    left: 55%;
    z-index: 1;
    font-weight: 700;
    font-size: 1em;
    margin: 1.2px;
    padding: 2px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
}
