@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
:root {
  --font-Nunito: 'Nunito', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --white: #fff;
  --black: #000;
  --red: rgb(245, 0, 24);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.animation-container {
  max-width: max-content;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lAnimation {
  width: 60vw;
  height: 90vh;
  margin-bottom: 0;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3);
}
Parallax {
  z-index: -1;
}
.About-me-layer {
  position: relative;
}
.AboutMe {
  position: fixed;
  display: inline-block;
  top: 5%;
  right: 5%;
  color: var(--white);
  font-family: var(--font-Poppins);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}
.icon-About{
  font-size: .8em;
  margin-right: .2em;
}
.icon-bs{
  font-size: .7em;
  color: var(--white);
  margin-right: .3em;
}
.AboutMe:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.AboutMe:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Proyects-layer {
  position: relative;
}
.Proyects {
  position: fixed;
  display: inline-block;
  top: 5%;
  right: 5%;
  color: var(--white);
  font-family: var(--font-Poppins);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}
.Proyects::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.Proyects:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.ParallaxLayer {
  background-image: url('../../assets/shapes.svg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 20rem) and (max-width: 30rem) {
  .AboutMe {
    position: absolute;
    top: 0;
    right: 5%;
  }
  .lAnimation {
    width: 90vw;
    transition: 1.2s;
  }
  .animation-container {
    margin-top: 10rem;
  }
  .Proyects {
    position: absolute;
    top: 0;
    right: 5%;
  }
}
@media (min-width: 30.0625rem) and (max-width: 47.9375rem) {
  .AboutMe {
    position: absolute;
    top: 0;
    right: 5%;
  }
  .lAnimation {
    width: 90vw;
    transition: 1.2s;
  }
  .animation-container {
    margin-top: 15rem;
  }
  .Proyects {
    position: absolute;
    top: 1%;
    right: 3%;
  }
}
@media (min-width: 48rem) and (max-width: 64rem) {
  .AboutMe {
    position: absolute;
    top: 1%;
    right: 5%;
  }
  .lAnimation {
    width: 90vw;
    transition: 1.2s;
  }
  .animation-container {
    margin-top: 15rem;
  }
  .Proyects {
    position: absolute;
    top: 1%;
    right: 3%;
  }
}
@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .AboutMe {
    position: absolute;
    top: 2%;
    right: 3%;
  }
  .lAnimation {
    width: 100vw;
    transition: 1.2s;
  }
  .animation-container {
    margin-top: 15rem;
  }
  .Proyects {
    position: absolute;
    top: 2%;
    right: 5%;
  }
}
@media (min-width: 80.0625rem) {
  .AboutMe {
    position: absolute;
    top: 5%;
    right: 3%;
  }
  .Proyects {
    position: absolute;
    top: 5%;
    right: 3%;
  }
}
