@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
:root {
  --font-Nunito: 'Nunito', sans-serif;
  --font-Poppins: 'Poppins', sans-serif;
  --white: #fff;
  --black: #000;
  --red: rgb(245, 0, 24);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
}
/* Navbar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--black);
}
header .logo {
  font-size: 2em;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
}
header .text-logo {
  font-family: var(--font-Poppins);
  font-size: 1em;
  white-space: nowrap;
  border-right: 4px solid;
  border-right-color: var(--red);
  width: 10ch;
  animation: typing 2s steps(13), blink 0.7s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

nav a {
  margin: 0 2rem;
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-Poppins);
  font-size: 1em;
  font-weight: 700;
  transition: all 1.3s ease;
}
nav a:hover {
  color: var(--red);
  -webkit-animation: bounce 0.6s linear;
  animation: bounce 0.6s linear;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0);
  }
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
.Fa-icon {
  font-size: 1.2em;
  margin-right: 0.3rem;
}
.Fa-about {
  font-size: 1em;
  margin-right: 0.3rem;
}
.Fa-phone {
  font-size: 1em;
  margin-right: 0.3rem;
}
.Fa-portal {
  font-size: 1.5em;
  margin-right: 0.3rem;
}
.Fa-portal:hover {
  color: var(--red);
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    color: var(--white);
  }
  100% {
    color: var(--red);
  }
}
@keyframes color-change-2x {
  0% {
    color: var(--white);
  }
  100% {
    color: var(--red);
  }
}

/* *Medias query Navbar*/

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--black);
    transition: 1.2s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }
  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a {
    font-size: 2em;
  }
}
